@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/HelveticaNeue.ttc);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
	gap: 1rem;
	overflow: hidden;
	background-color: #f6f6f6;
	padding: 8rem 1rem 7rem 1rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 2rem;
}

.main-btn {
	display: block;
	padding: 1.8rem 8rem;
	border-radius: 0.8rem;
	text-decoration: none;
	background-color: #62a1eb;
	color: #fff;
	font-size: 2rem;
	transition: all 0.2s;
}

.main-btn:hover {
	background-color: #317ad0;
}

.main-btn:active {
	background-color: #1a5dab;
}

/* SECOND PAGE */

.wrapper {
	background-color: #f6f6f6;
	overflow: hidden;
	padding-top: 5rem;
	position: relative;
}

.wrapper__header {
	display: flex;
	align-items: baseline;
	gap: 50rem;
	text-align: center;
}

.arrow {
	display: inline-block;
	/* margin-left: 7rem;
	margin-top: 5.3rem; */
	left: 7rem;
	position: absolute;
}

.form-titles {
	/* display: inline-block; */
	/* gap: 6.6rem; */
	text-align: center;
}

.form-titles * {
	display: inline-block;
}

.form-titles p {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.4rem;
	padding-bottom: 1.5rem;
	margin-bottom: 3rem;
}

.form-titles-active {
	border-bottom: 2px solid #000000;
}

.white_wrapper {
	margin: 0 auto;
	max-width: 112.6rem;
	background-color: #fff;
	border-radius: 18px;
	padding-top: 8rem;
	padding-bottom: 4rem;
	margin-bottom: 6.7rem;
}

.form {
	font-family: 'Helvetica Neue';
	max-width: 924px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.first_input {
	width: 100%;
	display: flex;
	gap: 9rem;
	align-items: center;
}

.text_input label {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}

.text_input input {
	width: 100%;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	border: 1.8px solid #8ac0e2;
	border-radius: 8px;
	padding: 1.6rem 2rem;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	outline: none;
}

.text_input p {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}

.red-alert {
	border: 1.8px solid #e52f2f !important;
}

.red-error-message {
	color: red;
}

input[type='text']:focus,
input[type='tel']:focus {
	background-color: rgba(43, 75, 242, 0.06);
	border: 1.8px solid #6499ff;
	outline: none;
}

.form_select {
	background-color: #ebebeb;
	border-radius: 0.8rem;
}

.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-color: transparent;
	width: 100%;
	padding: 1.8rem 2rem;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
}

.select::-ms-expand {
	display: none;
}

.select-wrapper {
	position: relative;
}

.select-wrapper::before {
	content: '';
	position: absolute;
	top: 35%;
	right: 1.5rem;
	transform: translate(-50%);
	display: block;
	width: 22px;
	height: 22px;
	background: url('img/ep_arrow-down-bold.png') no-repeat bottom;
	pointer-events: none;
}

.next-btn {
	margin-top: 5rem;
	align-self: end;
	padding: 1.8rem 6rem;
	background: #62a1eb;
	border-radius: 8px;
	border: none;
}

.next-btn a {
	color: white;
	text-decoration: none;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.next-btn:hover {
	background-color: #317ad0;
}

.next-btn:active {
	background-color: #1a5dab;
}

.footer {
	text-align: center;
	margin-bottom: 4rem;
}

.file-title {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	color: #4386a9;
	max-width: 19.5rem;
	text-align: center;
}

.file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-label {
	font-family: 'Helvetica Neue';
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6.5rem;
	align-items: center;
	border: 2px dashed #4386a9;
	background: #f7f7f7;
	border-radius: 18px;
	height: 42rem;
	cursor: pointer;
}

.file-btn {
	color: white;
	padding: 1.8rem 6rem;
	background: #62a1eb;
	border-radius: 8px;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	cursor: pointer;
	border: none;
	pointer-events: none;
	cursor: pointer;
}

.divider {
	border: 1px solid #c7c7c7;
	margin-top: 4.4rem;
	margin-bottom: 4.4rem;
}

.cpu-row {
	width: 100%;
	display: flex;
	gap: 2.4rem;
	align-items: center;
}

.forth-row {
	margin-top: 4.4rem;
	width: 100%;
	display: flex;
	gap: 6rem;
}

.radio-label label {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin-right: 4rem;
}

.radio-label label input {
	margin-top: 2.6rem;
	appearance: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid #8ac0e2;
	margin-right: 0.6rem;
	position: relative;
	top: 4px;
	cursor: pointer;
}

.radio-label label input:checked {
	appearance: auto;
}

.last_input {
	display: flex;
	gap: 6rem;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.links-row {
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.back-link {
	margin-top: 5rem;
	color: #62a1eb;
	text-decoration: none;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

/* მოდალი */

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: #4a4a4a; /* Black w/ opacity */
	text-align: center;
}

.modal-content {
	max-width: 70rem;
	max-height: 50rem;
	margin: 0 auto;
	background-color: white;
	border-radius: 8px;
	padding-bottom: 4.4rem;
}

.modal-content h2 {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 31px;
}

.modal-content a {
	display: block;
}

/* LIST */
.list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem 7rem;
}

.list-header {
	display: flex;
	align-items: center;
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 21px;
	margin: 0 auto;
	margin-bottom: 7rem;
}

.list-items-wrapper {
	margin: auto;
	/* background-color: black; */
	max-width: 118rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4rem;
}

.list-item {
	display: flex;
	padding: 1.4rem;
	gap: 2.8rem;
	background: #eafaff;
	min-width: 56.3rem;
	border: 1px solid #aed1ea;
	border-radius: 20px;
}

.list-item-info {
	padding-top: 3rem;
}

.list-item-info-name {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 1.8rem;
}

.list-item-info-model {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 4rem;
}

.list-item-info-more {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #4386a9;
}

.info-wrapper {
	margin: auto;
	/* background-color: black; */
	min-width: 118rem;
}

.info-first {
	display: flex;
	gap: 6.8rem;
}

.first-items {
	width: 100%;
	display: flex;
	gap: 8rem;
}

.first-items-names {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}

.first-items-names p {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #2e2e2e;
}

.first-items-values {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}

.first-items-values p {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	/* or 123% */

	/* შავი/400 */

	color: #797979;
}
